#conteneur
{
    width: 100%;
    display: flex;
    flex-direction: Row;
    flex-wrap: wrap;
    border: 1px solid #A9A9A9;
}
/*Partie de gauche*/


ul {
    list-style:none;
    padding-left:6;
    }


#left{

    width: 25%;
    height: 2000px;
    background-color:#1E90FF;
}

.photo{
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 100%;
    height: 25%;
    border: 1px solid #000;
    order: 1;

}

.photo img{

    border-radius: 50%;
    width: 300px ;
    height: auto ;
}

.contact{
    width: 100%;
    background-color: #1E90FF;
    border: 1px solid red;
    order: 2;
}

.contact h2{
      
      text-align: center;
      /*margin-top: 0%;*/
      width:100%;
      background-color: white;
    }


.a_propos_de_moi{
    text-align: justify;
    width: 100%;
    background-color: #1E90FF;
    border: 1px solid #000;
    order: 3;
}

.Lorem{
    margin-left: 5%;
    margin-right: 10%;
}
.a_propos_de_moi h2{
    
    text-align: center;
    margin-top: 0%;
    width:100%;
    background-color: white;
  }

.loisirs{
    width: 15%;
    height: 25%;
    background-color: #1E90FF;
    border: 1px solid red;
    order: 4;
}

.LOISIRS{
    
    text-align: center;
    margin-top: 0%;
    width:100%;
    background-color: white;
  }

/*Partie de droite*/

#right{

    width: 75%;
    background-color: grey;
}
.name{
    width: 100%;
    background-color: #FFF;
    border: 1px solid #000;
    order: 4;
}

h1
{
padding-left: 80px;
padding-top: 80px;
color:#1E90FF;
font-size: 100px;
font-family: 'intro', Arial;
}
