#conteneur
{
    width: 100%;
    border: 1px solid #A9A9A9;
}
/*Partie de gauche*/


ul {
    width: 100%;
    list-style:none;
    padding-left:6;
    }


#left{
    width:100%;
    background-color:#1E90FF;
}

.photo{
    
    align-items: center ;
    justify-content: center;
    width: 100%;
    border: 1px solid #000;
    

}

.photo img{

    border-radius: 50%;
    width: 300px ;
    height: auto ;
}

.contact{
    border: 1px solid #000;
    width: 100%;
    background-color: #1E90FF;
    
    
}

.contact h2{

      width: 100%;      
      text-align: center;
      /*margin-top: 0%;*/
      width:100%;
      background-color: white;
    }


.a_propos_de_moi{
    text-align: justify;
    width: 100%;
    background-color: #1E90FF;
    border: 1px solid #000;
    
}

.Lorem{

    
    margin-left: 5%;
    margin-right: 10%;
}
.a_propos_de_moi h2{
    
    text-align: center;
    margin-top: 0%;
    width:100%;
    background-color: white;
  }

.loisirs{
    width:100%;
    background-color: #1E90FF;
    border: 1px solid red;
    
}

.LOISIRS{
    width: 100%;
    
    text-align: center;
    margin-top: 0%;

    background-color: white;
  }

/*Partie de droite*/

#right{

    border: 1px solid #000;
    background-color: grey;
}
.name{
    width: 100%;
    background-color: #FFF;
    border: 1px solid #000;
    
}

h1
{
padding-left: 80px;
padding-top: 80px;
color:#1E90FF;
font-size: 100px;
font-family: 'intro', Arial;
}
