#conteneur
{
    width: 100%;
    
}
/*Partie de gauche*/


ul {
    width: 100%;
    list-style:none;
    

    }

.col-md-3, .col-md-9{
    padding-right: 0px;
    padding-left: 0px;
}

.col-md-3{
    display: flex;
}

.name{
    color: #1E90FF;
}

#etudiante{
    
    border-bottom: 1px solid  #1E90FF;
}
#left{
    width:100%;
    background-color:#1E90FF;
}

.photo{
    
    align-items: center ;
    justify-content: center;
    display: flex;
    width: 100%;
    background-color:#1E90FF;

    

}

.photo img{

    border-radius: 50%;
    border: 3px blue groove;
    width: 200px ;
    height: auto ;
}

.contact{
    width: 100%;
    background-color: #1E90FF;
    
    
    
}

.contact h2{

      width: 100%;      
      text-align: center;
      /*margin-top: 0%;*/
      width:100%;
      background-color: white;
    }


.a_propos_de_moi{
    text-align: justify;
    width: 100%;
    background-color: #1E90FF;
   
    
}

.Lorem{

    
    margin-left: 12%;
    margin-right: 10%;
}
.a_propos_de_moi h2{
    
    text-align: center;
    margin-top: 0%;
    width:100%;
    background-color: white;
  }

.loisirs{
    width:100%;
    background-color: #1E90FF;
    
    
}

.LOISIRS{
    width: 100%;
    
    text-align: center;
    margin-top: 0%;

    background-color: white;
  }

/*Partie de droite*/

#right{
}

header p{
    margin-left: 4%;
}

.fas{
    padding-right: 4%;
    padding-left: 4%;
    color:#1E90FF;
}
.name{
    width: 100%;
    background-color: #FFF;
   
    
}

h1
{
padding-left: 4%;
padding-top: 80px;
color: black;
font-size: 50px;
font-family: 'intro', Arial;
}

/*h2
{
    text-decoration: underline;
}*/
